<style>

    .ctf-img {
        position: absolute;
        top: 215px;
        right: 490px;
    }
    .python-img {
        position: absolute;
        top: 100px;
        right: 400px;
    }
    .ubuntu-img {
        position: absolute;
        top: 100px;
        right: 550px;
    }
    .cpp-img {
        position: absolute;
        top: 250px;
        right: 340px;
    }

</style>

<body>
    
    <br><br><br><br><br><br>
    <div class="horizontal-border" >
        <h1>Bienvenido a mi página</h1>
        <br><br>
        <h1>Bienvenido a mi página</h1>
        <p>This is a dark mode home page.</p>
        <button class="dark-mode-button">Learn More</button>
    </div>

    <div class="ubuntu-img">
        <%= image_tag "ubuntu-logo2.png" %>
    </div>

    <div class="python-img">
        <%= image_tag "python-logo2.png" %>
    </div>

    <div class="ctf-img">
        <%= image_tag "picoctf-logo2.png" %>
    </div>

    <div class="cpp-img">
        <%= image_tag "cpp-logo2.png" %>
    </div> 
     

</body>