<footer class="bg-d py-2">
  <div class="container horizontal-border">
    <span class="text-light horizontal-border" style="font-size: 0.9rem;">© 2024 Derechos Reservados: bTA Projects</span> 
  </div>
</footer>
